<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Thông Tin Tuyến Xe Buýt</title>
</head>
<body>
<h1>Thông Tin Tuyến Xe Buýt</h1>
<a th:href="@{/busroutes}">Thêm Tuyến Xe Buýt</a>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Mã Tuyến</th>
    <th>Tên Tuyến</th>
    <th>Khoảng Cách</th>
    <th>Điểm Bắt Đầu</th>
    <th>Điểm Kết Thúc</th>
    <th>Giá Vé</th>
    <th>Ngày Mở Tuyến</th>
    <th>Thao Tác</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="busroute : ${busroutes}">
    <td th:text="${busroute.id}"></td>
    <td th:text="${busroute.route_code}"></td>
    <td th:text="${busroute.route_name}"></td>
    <td th:text="${busroute.distance}"></td>
    <td th:text="${busroute.start_location}"></td>
    <td th:text="${busroute.finish_location}"></td>
    <td th:text="${busroute.price}"></td>
    <td th:text="${#dates.format(busroute.start_date, 'yyyy-MM-dd')}"></td>
    <td>
      <a th:href="@{'/busroutes/' + ${busroute.id} + '/delete'}">Xóa</a>
    </td>
  </tr>
  </tbody>
</table>

<h1>STT_03_20098521_HoHoangVanAnh_DHKTPM16B</h1>
</body>
</html>